@{
    ViewData["Title"] = "Thông tin tài khoản";
}

@section Styles {
    <style>
        .btn-cancel-order {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            border: 1px solid transparent;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

            .btn-cancel-order:disabled {
                cursor: default;
                opacity: 0.5;
            }
    </style>
 
}

@model OmegaStore.Models.Account
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tài khoản cá nhân</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
@if (Model != null)
{
    <!-- My Account Start -->
    <div class="my-account pt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills"
                         role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link active"
                           id="dashboard-nav"
                           data-toggle="pill"
                           href="#accounts-tab"
                           role="tab"><i class="fa fa-id-card"></i>Thông tin tài khoản</a>
                        <a class="nav-link"
                           data-toggle="pill"
                           href="#orders-tab"
                           role="tab"><i class="fa fa-shopping-bag"></i>Đơn hàng</a>
                        <a class="nav-link"
                           id="address-nav"
                           data-toggle="pill"
                           href="#address-tab"
                           role="tab"><i class="fa fa-map-marker-alt"></i>Địa chỉ</a>
                        <a class="nav-link"
                           id="wishlist-nav"
                           data-toggle="pill"
                           href="#wishlist-tab"
                           role="tab"><i class="fa fa-heart"></i>Danh sách yêu thích</a>
                        <a class="nav-link"
                           id="commented-nav"
                           data-toggle="pill"
                           href="#commented-tab"
                           role="tab"><i class="fa fa-comment-alt"></i>Sản phẩm đã đánh giá</a>
                        <a class="nav-link"
                           id="account-nav"
                           data-toggle="pill"
                           href="#changepassword-tab"
                           role="tab"><i class="fa fa-user"></i>Đổi mật khẩu</a>
                        <a class="nav-link" asp-controller="Account" , asp-action="Logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active"
                             id="accounts-tab"
                             role="tabpanel"
                             aria-labelledby="account-tab">
                            <h4 class="text-uppercase mb-3">Thông tin tài khoản</h4>
                            <p><span class="font-weight-bold">Tên đăng nhập:</span> @Model.Username</p>
                            <p><span class="font-weight-bold">Họ tên:</span> @Model.Fullname</p>
                            @if (Model.Gender)
                            {
                                <p><span class="font-weight-bold">Giới tính:</span>Nam</p>
                            }else{
                                <p><span class="font-weight-bold">Giới tính:</span>Nữ</p>
                            }
                            <p>
                                <span class="font-weight-bold">Email:</span>
                                @Model.Email
                            </p>
                            <p>
                                <span class="font-weight-bold">Điện thoại:</span> @Model.Phone
                            </p>
                            <p>
                                <span class="font-weight-bold">Địa chỉ:</span> @Model.Address
                            </p>

                            <div class="btn-update">
                                <a id="updateinfo-nav"
                                   data-toggle="pill"
                                   href="#changeinfo-tab"
                                   role="tab"><button>Thay đổi</button></a>
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="orders-tab"
                             role="tabpanel"
                             aria-labelledby="orders-nav">

                         


                                <div class="table-responsive">
                                    <h4 class="text-uppercase mb-3">Đơn hàng của bạn</h4>
                                <form class="col-lg-6">
                                    <select name="status" id="order-status" id="statusSelect" class="form-control" onchange="OrderStatus()">
                                        <option disabled selected>--Chọn trạng thái--</option>
                                            <option value="">Tất cả</option>
                                            <option value="1">Chờ xác nhận</option>
                                            <option value="2">Xác nhận</option>
                                            <option value="3">Đang giao</option>
                                        <option value="4">Hoàn thành</option>
                                            <option value="5">Đã hủy</option>
                                        </select>
                                    </form>

                                @if (ViewBag.OrderAccount != null)
                                {
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Mã đơn hàng</th>
                                                <th>Ngày đặt</th>
                                                <th>Tổng tiền</th>
                                                <th>Trạng thái</th>
                                               
                                            </tr>
                                        </thead>
                                   
                                    <tbody id="order-list">
                                       
                                            @foreach (var ls in ViewBag.OrderAccount)
                                            {
                                                <tr data-rowId="@ls.OrderId">
                                                    <td>@ls.Ordercode</td>
                                                    <td>@ls.Create_at</td>
                                                    <td>@(String.Format("{0:N0}",ls.Total)) VNĐ</td>
                                                    <td class="btn-currentStatus">
                                                        @(ls.Statuss ==1?"Chờ xác nhận":ls.Statuss==2?"Xác nhận":ls.Statuss==3?"Đang giao":ls.Statuss==4?"Hoàn thành":"Đã hủy")
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Order" asp-action="Index" asp-route-id="@ls.OrderId"><i class="fa fa-eye text-dark"></i></a>
                                                    </td>
                                                    <td>
                                                        <button class=" btn-cancel-order btn-danger white  rounded btn-lg"
                                                                
                                                                data-orderid="@ls.OrderId"
                                                                data-ordercode="@ls.Ordercode"
                                                                data-status="@ls.Statuss"
                                                                data-valuebutton="5"
                                                        @((ls.Statuss != 1) ? "disabled" : "")>
                                                            Hủy đơn
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                      

                                    </tbody>

                                    </table>
                                }
                                else
                                {

                                    <div class="d-flex justify-content-center align-items-center text-muted">
                                        <span>Không có đơn hàng nào trong tài khoản</span>
                                    </div>

                                }
                                    <!-- Pagination Start -->
                                   @* <div class="col-md-12 mt-3">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item disabled">
                                                    <a class="page-link" asp-controller="" asp-action="" tabindex="-1">Trước</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" asp-controller="" asp-action="">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" asp-controller="" asp-action="">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" asp-controller="" asp-action="">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" asp-controller="" asp-action="">Sau</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    *@
                                    <!-- Pagination Start -->
                                </div>
                        
                        </div>
                        <div class="tab-pane fade"
                             id="address-tab"
                             role="tabpanel"
                             aria-labelledby="address-nav">
                            <h4 class="text-uppercase mb-3">Địa chỉ của bạn</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Địa chỉ giao hàng</h5>
                                    <p>@Model.Address</p>
                                    <p>Điện thoại: @Model.Phone</p>
                                    <div class="btn-update">
                                        <a id="updateaddress-nav"
                                           data-toggle="pill"
                                           href="#changeaddress-tab"
                                           role="tab"><button>Thay đổi</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="changeinfo-tab"
                             role="tabpanel"
                             aria-labelledby="account-nav">
                            <h4>Cập nhập thông tin</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control"
                                           type="text"
                                           name="lname"
                                           value=""
                                           placeholder="Họ" />
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control"
                                           type="text"
                                           name="fname"
                                           value=""
                                           placeholder="Tên" />
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control"
                                           type="text"
                                           name="phone"
                                           value="@Model.Phone"
                                           placeholder="Số điện thoại" />
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control"
                                           type="text"
                                           name="email"
                                           value="@Model.Email"
                                           placeholder="Email" />
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Lưu thay đổi</button>
                                    <br /><br />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="changeaddress-tab"
                             role="tabpanel"
                             aria-labelledby="account-nav">
                            <h4>Cập nhập địa chỉ</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control"
                                           type="text"
                                           name="phone"
                                           value="@Model.Phone"
                                           placeholder="Số điện thoại" />
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control"
                                           type="text"
                                           name="address"
                                           value="@Model.Address"
                                           placeholder="Địa chỉ của bạn" />
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Lưu thay đổi</button>
                                    <br /><br />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="changepassword-tab"
                             role="tabpanel"
                             aria-labelledby="account-nav">
                            <h4 class="text-uppercase mb-3">Đổi mật khẩu</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control"
                                           type="password"
                                           placeholder="Mật khẩu hiện tại" />
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Mật khẩu mới" />
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Xác nhận mật khẩu mới" />
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="wishlist-tab"
                             role="tabpanel"
                             aria-labelledby="account-nav">
                            <h4 class="text-uppercase mb-3">Danh sách yêu thích</h4>
                            <div class="col-lg-12">
                                @if (ViewBag.FavoriteProductList !=null)
                                {
                                    <div class="row">
                                        @foreach (var ls in ViewBag.FavoriteProductList)
                                        {
                                            <div class="col-md-4">
                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <div class="discount-per">
                                                            <span>-@(ls.ProductDiscountRate)%</span>
                                                        </div>
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-slug="@ls.ProductSlug"><img src="~/img/products/@ls.ProductImage" alt="" /></a>
                                                    </div>
                                                    <div class="product-title">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-slug="@ls.ProductSlug">@ls.ProductName</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <p class="price-discount"><span>@(String.Format("{0:N0}", Math.Truncate((ls.ProductPrice - (ls.ProductPrice * ls.ProductDiscountRate) / 100)))) đ</span></p>
                                                        <p class="price"><span>@(String.Format("{0:N0}", ls.ProductPrice)) đ</span></p>
                                                    </div>
                                                    <div class="view-rating">
                                                        <span class="view">@ls.TotalSold<i class="fa fa-eye"></i></span>
                                                        <span class="rating">
                                                            @ls.AverageRating/5<i class="fa fa-star"></i>
                                                        </span>
                                                    </div>
                                                    <div class="btn-add-cart">
                                                        <button id="btn-add-cart" data-id="@ls.ProductId">Thêm vào giỏ hàng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="">
                                            <span class="align-items-center text-center text-muted">Bạn chưa thêm sản phẩm nào vào yêu thích</span>
                                        </div>
                                    </div>
                                }
                                <!-- Pagination Start -->
                              
                                <!-- Pagination Start -->
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="commented-tab"
                             role="tabpanel"
                             aria-labelledby="account-nav">
                            <h4 class="text-uppercase mb-3">Sản phẩm đã đánh giá</h4>
                            <div class="col-lg-12">
                                @if (ViewBag.ProductRated != null)
                                {
                                    <div class="row">
                                        @foreach (var ls in ViewBag.ProductRated)
                                        {
                                            <div class="col-md-4">
                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <div class="discount-per">
                                                            <span>-@(ls.ProductDiscountRate)%</span>
                                                        </div>
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-slug="@ls.ProductSlug"><img src="~/img/products/@ls.ProductImage" alt="" /></a>
                                                    </div>
                                                    <div class="product-title">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-slug="@ls.ProductSlug">@ls.ProductName</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <p class="price-discount"><span>@(String.Format("{0:N0}", Math.Truncate((ls.ProductPrice - (ls.ProductPrice * ls.ProductDiscountRate) / 100)))) đ</span></p>
                                                        <p class="price"><span>@(String.Format("{0:N0}", ls.ProductPrice)) đ</span></p>
                                                    </div>
                                                    <div class="view-rating">
                                                        <span class="view">@ls.TotalSold<i class="fa fa-eye"></i></span>
                                                        <span class="rating">
                                                            @ls.AverageRating/5<i class="fa fa-star"></i>
                                                        </span>
                                                    </div>
                                                    <div class="btn-add-cart">
                                                        <button id="btn-add-cart" data-id="@ls.ProductId">Thêm vào giỏ hàng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="">
                                            <span class="align-items-center text-center text-muted">Chưa có sản phẩm nào được đánh giá</span>
                                        </div>
                                    </div>
                                }



                                @*<div class="col-md-4">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <div class="discount-per">
                                                    <span>18%</span>
                                                </div>
                                                <a asp-controller="Product" asp-action="Detail"><img src="~/img/gura.jpeg" alt="" /></a>
                                            </div>
                                            <div class="product-title">
                                                <a asp-controller="Product" asp-action="Detail">Tên sản phẩm</a>
                                            </div>
                                            <div class="product-price">
                                                <p class="price-discount"><span>300.000đ</span></p>
                                                <p class="price"><span>359.000đ</span></p>
                                            </div>
                                            <div class="view-rating">
                                                <span class="view">23<i class="fa fa-eye"></i></span>
                                                <span class="rating">
                                                    4.7/5<i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                            <div class="wish-action">
                                                <a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                                <a asp-controller="" asp-action=""><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    *@


                                <!-- Pagination Start -->
                             
                                <!-- Pagination Start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        //lọc trạng thái đơn hàng
        function OrderStatus() {
            var status = document.getElementById("order-status").value;

            const DetailOrder = '@Url.Action("Index", "Order")';


            // Gửi yêu cầu AJAX
            $.ajax({
                url: '/Account/OrderStatus', // Đường dẫn đến action trong Controller
                type: 'GET',
                data: { status: status,
                        id:'@Model.Id'
                
                }, // Gửi trạng thái đã chọn
                success: function (OrderStatus) {
                    var tbody = '';
                    if (OrderStatus.length > 0) {
                
                        OrderStatus.forEach(function (OrderStatus) {
                            let DetailOr = `<a href="/Order/Index/${OrderStatus.orderId}"><i class="fa fa-eye text-dark"></i></a>`;
                            let rawDate = OrderStatus.create_at; // "2024-12-23T23:33:11.153"
                            let date = new Date(rawDate);

                            // Định dạng ngày theo kiểu "ngày/tháng/năm"
                            let day = date.toLocaleString("vi-VN", {
                                year: "numeric",
                                month: "2-digit",
                                day: "2-digit"
                            });

                            // Định dạng giờ theo kiểu "giờ :phút:giây"
                            let time = date.toLocaleString("vi-VN", {
                                hour: "2-digit",
                                minute: "2-digit",
                                second: "2-digit",
                                hour12: true // Để sử dụng AM/PM
                            });

                            // Thay thế AM/PM thành SA/CH
                            time = time.replace("AM", "SA").replace("PM", "CH");

                            // Kết hợp ngày và giờ theo
                            let create = `${day} ${time} `;
                            tbody += `<tr data-rowId="${OrderStatus.orderId}">
                                <td>${OrderStatus.ordercode}</td>
                                <td>${create}</td>
                                <td>${new Intl.NumberFormat('vi-VN', { style: 'decimal' }).format(OrderStatus.total)} VNĐ</td>
                                <td class="btn-currentStatus">
                                    ${OrderStatus.statuss == 1 ? "Chờ xác nhận" : OrderStatus.statuss == 2 ? "Xác nhận" : OrderStatus.statuss == 3 ? "Đang giao" : OrderStatus.statuss == 4 ? "Hoàn thành" : "Đã hủy"}
                                </td>
                                <td>
                                                           ${DetailOr}

                                </td>
                                <td>
                                    <button class="btn btn-cancel-order btn-danger white rounded btn-lg"
                                            data-orderid="${OrderStatus.orderId}"
                                            data-ordercode="${OrderStatus.ordercode}"
                                            data-status="${OrderStatus.statuss}"
                                            data-valuebutton="5"
                                            ${(OrderStatus.statuss != 1) ? "disabled" : ""}>
                                        Hủy đơn
                                    </button>
                                </td>
                            </tr>`;
                        });
                    } else {
                        tbody = '<tr><td colspan="4">Không có đơn hàng nào khớp với trạng thái.</td></tr>';
                    }
                    // Cập nhật nội dung trong tbody
                    $("#order-list").html(tbody);
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi lọc đơn hàng.");
                }
            });
        }
        //load lại trang hay rời khỏi trang reset lại selectoption về lúc chưa chọn trạng thái
        $(document).ready(function () {
            // Reset select khi người dùng rời khỏi trang hoặc reload
            $(window).on('beforeunload', function () {
                $('#statusSelect').val('');
            });

            //  reset select khi reload trang:
            $('#statusSelect').val('');
        });
        // Hủy đơn
        $(document).on("click", ".btn-cancel-order", function () {
            var OrderId = $(this).data("orderid");
            var OrderCode = $(this).data("ordercode");
            var valueButton = $(this).data("valuebutton");
            var btn = $(this);
            var Status = $(this).data("status");
            var rowItem = $(this).closest(".product-item").data("rowId");
            if (Status == 1) {

                Swal.fire({
                    title: "Hủy đơn hàng !",
                    text: `Bạn có chắc muốn hủy đơn hàng có mã đơn hàng là ${OrderCode} không!`,
                    icon: "warning", // biểu tượng: 'warning', 'error', 'success', 'info', 'question'
                    showCancelButton: true,
                    confirmButtonText: "Có", 
                    cancelButtonText: "Không", 
                }).then((result) => {
                    //khi nút xóa được nhấn
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Account/CancelOrder',
                            type: 'POST',
                            data: {
                                orderid: OrderId,
                                status: 5
                            },
                            success: function (response) {
                                if (response.success) {
                                    var rowId = $(`tr[data-rowId='${OrderId}']`);
                                    rowId.find(".btn-currentStatus").text("Hủy đơn");
                                    rowId.find(".btn-cancel-order").data("status", 5);

                                    Swal.fire("Hủy đơn hàng", `Đã hủy đơn hàng có mã đơn hàng là ${OrderCode}`, "success");

                                    var cancelButton = rowId.find(".btn-cancel-order");
                                    cancelButton.data("status", 5);
                                    cancelButton.attr("disabled", true);
                               

                                } else {
                                    Swal.fire("Lỗi hủy đơn", `Đã có lỗi xảy ra khi Hủy đơn hàng có mã đơn hàng là ${OrderCode}`, "error");
                                }
                            },

                        });


                    }


                });
            }
            else {
                Swal.fire({
                    title: "Không thể hủy trạng thái!",
                    text: "Trạng thái này đã được hủy hoặc không ở trạng thái chờ xác nhận nên không thể hủy.",
                    icon: "error", // Biểu tượng thông báo (error, warning, info, success)
                    confirmButtonText: "Đã hiểu", // Nút xác nhận
                }).then((result) => {
                    if (result.isConfirmed) {
                        $(this).prop("disabled", true);
                    }
                });
            }



        });
    </script>
  


}









