<!-- Xác định kiểu dữ liệu được truyền từ controller -->
@model OmegaStore.Models.Product;
<!-- Xác định kiểu dữ liệu được truyền từ controller -->

@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
}

@section Styles {
    <link href="~/admin/lib/slick/slick.css" rel="stylesheet">
    <link href="~/admin/lib/slick/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/css/All.css">
}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
    <script src="https://kit.fontawesome.com/ffa90392e4.js" crossorigin="anonymous"></script>
    <script src="~/admin/lib/easing/easing.min.js"></script>
    <script src="~/admin/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/admin/js/slideshow.js"></script>

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;

            // Ẩn tất cả các tab content
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Hiển thị tab content hiện tại
            document.getElementById(tabName).style.display = "block";
        }

        function activateButton(button) {
            // Lấy tất cả các nút
            var buttons = document.getElementsByClassName('toggle-button');

            // Loại bỏ lớp 'active' từ tất cả các nút
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove('active');
            }

            // Thêm lớp 'active' vào nút hiện tại
            button.classList.add('active');
        }

        // Hiển thị tab mặc định
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("description").style.display = "block";
            document.querySelector('.description-button').classList.add('active');
        });
    </script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Chi tiết sản phẩm</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Quản lý</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Sản phẩm</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Chi tiết sản phẩm</div>
                    </li>
                </ul>
            </div>
            <!-- form-add-product -->
            <form class="w-100">
                <div class="wg-box">
                    <div class="back-list">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="fa-solid fa-circle-arrow-left"></i>Quay Lại Danh Sách</a>
                    </div>
                    <fieldset class="">
                        <div class="detail-product-section">

                            <div class="box-detail mb-16 mt-3 col-md-5">
                                <div class="item-image-avatar product-slider-single normal-slider mt-3">
                                    @foreach(var img in Model.ProductsImages)
                                    {
                                        <img src="~/img/products/@img.Image" alt="Product Image">
                                    }
                                   

                                </div>
                                <div>
                                    <div class="image-list-product product-slider-single-nav mt-3">
                                        
                                        @foreach (var img in Model.ProductsImages)
                                        {
                                            <div class="box-image-item mt-2 slider-nav-img "><img src="~/img/products/@img.Image" alt="Product Image" class=" product-image-details "></div>
                                        }
                                    </div>
                                    <div class="chevron-item">
                                        <span class="chevron-left"><i class=" fa-solid fa-chevron-left"></i></span>
                                        <span class="chevron-right"><i class=" fa-solid fa-chevron-right"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-info-product">
                                <div class="info-product">
                                    <div class="product-name">
                                        <h4>@Model.Name</h4>
                                    </div>
                                    <div class="product-code">
                                        <span>Mã sản phẩm: @Model.ProductCode</span>
                                    </div>
                                    <div class="product-category">
                                        <span>Loại sản phẩm: Mô hình nhựa</span>
                                    </div>
                                    <div class="product-price-detail">
                                        <span>Giá: <strong class="text-danger">@Math.Truncate(Model.Price * (1 - (decimal)Model.DiscountRate / 100))đ</strong></span>
                                        <span class="original-price">@Math.Truncate(Model.Price)đ</span>
                                    </div>
                                    <div class="product-stock">
                                        <span>Số lượng tồn kho: @Model.Stock</span>
                                    </div>
                                    <div class="product-slug">
                                        <span>Slug: @Model.Slug</span>
                                    </div>
                                    <div class="bottom-info-product">
                                        <div>
                                            <div class="sales-count">
                                                <span>Lượt bán: 20</span>
                                            </div>
                                            <div class="product-status">
                                                <span>Trạng thái: <span class="status-active">@(Model.Stock > 0 ? "còn hàng" : "hết hàng")</span></span>
                                            </div>
                                        </div>
                                        <div class="view-item">
                                            <div class="some-metric">
                                                <span><i class="fa-solid fa-eye"></i>2345</span>
                                            </div>
                                            <div class="another-metric">
                                                <span><i class="fa-solid fa-heart"></i>1121</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                </div>
            </form>
            <div class="menu-button col-lg-12">
                <ul class="nav nav-pills nav-justified col-lg-6">
                    <li class="nav-item">
                        <button class="toggle-button description-button active" data-toggle="pill" href="#description" onclick="openTab(event, 'description'); activateButton(this)">Mô tả</button>
                    </li>
                    <li class="nav-item">
                        <button class="toggle-button rate-button" data-toggle="pill" href="#specification" onclick="openTab(event, 'specification'); activateButton(this)">Đánh giá(10)</button>
                    </li>
                </ul>
            </div>

            <div class="wg-box tabcontent" id="description">
                <div class=" box-comment col-lg-12">
                    @Html.Raw(Model.Description)
                </div>
            </div>

            <div class="wg-box tabcontent" id="specification">
                <div class=" box-comment col-lg-12">
                    <div class="comment-section">
                        <div class="filter-newest-comments">
                            <fieldset class="male">
                                <div class="select">
                                    <select class="">
                                        <option>VECTO</option>
                                        <!-- <option>Female</option>
                                        <option>Other</option> -->
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <div class="comment">
                            <div class="comment-header">
                                <span class="comment-author">Putin Capnuwng -</span>
                                <span class="comment-date">2024-12-28</span>
                                <span class="comment-delete">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">Sản phẩm rất tốt và đáng mua,mô hình này giá cả hợp lý mà còn đẹp nữa,mua về mình ưng quá chừng kk.</p>
                                <div class="comment-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9734;</span> <!-- Ngôi sao rỗng -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-section">
                        <div class="comment">
                            <div class="comment-header">
                                <span class="comment-author">Putin Capnuwng -</span>
                                <span class="comment-date">2024-12-28</span>
                                <span class="comment-delete">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">Sản phẩm rất tốt và đáng mua,mô hình này giá cả hợp lý mà còn đẹp nữa,mua về mình ưng quá chừng kk.</p>
                                <div class="comment-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9734;</span> <!-- Ngôi sao rỗng -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-section">
                        <div class="comment">
                            <div class="comment-header">
                                <span class="comment-author">Putin Capnuwng -</span>
                                <span class="comment-date">2024-12-28</span>
                                <span class="comment-delete">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">Sản phẩm rất tốt và đáng mua,mô hình này giá cả hợp lý mà còn đẹp nữa,mua về mình ưng quá chừng kk.</p>
                                <div class="comment-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9734;</span> <!-- Ngôi sao rỗng -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-section">
                        <div class="comment">
                            <div class="comment-header">
                                <span class="comment-author">Putin Capnuwng -</span>
                                <span class="comment-date">2024-12-28</span>
                                <span class="comment-delete">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">Sản phẩm rất tốt và đáng mua,mô hình này giá cả hợp lý mà còn đẹp nữa,mua về mình ưng quá chừng kk.</p>
                                <div class="comment-rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9734;</span> <!-- Ngôi sao rỗng -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /form-add-product -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Omega. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">
            by
            <a href="#">Omega Group</a>
            All rights reserved.
        </div>
    </div>
    <!-- /bottom-page -->
</div>