@model IEnumerable<OmegaStore.Models.Order>
@{
    ViewData["Title"] = "Danh Sách Đơn Hàng";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/admin/css/Custum.css">
    <script src="https://kit.fontawesome.com/ffa90392e4.js" crossorigin="anonymous"></script>
}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/apexcharts/apexcharts.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-1.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-2.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-3.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-4.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-5.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-6.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Danh sách đơn hàng</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Quản lý</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Đơn hàng</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách</div>
                    </li>
                </ul>
            </div>
            <!-- order-list -->
            <div class="wg-box">
                <div class="order-state">
                    <div class="d-flex justify-content-around">
                        <!-- Button 1: Nền xanh da trời, chữ trắng, bo góc, kích thước lớn -->
                        <form method="get" asp-controller="Order" asp-action="Index">
                            <input type="hidden" name="status" value="" />
                            <button class="btn  @(ViewBag.Status==null?@ViewBag.Btn:"") border border-primary rounded btn-lg">
                               Tất cả
                            </button>
                        </form>
                        <form method="get" asp-controller="Order" asp-action="Index">
                            <input type="hidden" name="status" value="1" />
                            <button class="btn  @(ViewBag.Status==1?@ViewBag.Btn:"") border border-primary rounded btn-lg">
                                Chờ xác nhận
                            </button>
                        </form>
                        <form method="get" asp-controller="Order" asp-action="Index">
                            <input type="hidden" name="status" value="2" />
                            <button class="btn  @(ViewBag.Status==2?@ViewBag.Btn:"") primary border-primary rounded btn-lg">Xác nhận</button>
                        </form>
                        <form method="get" asp-controller="Order" asp-action="Index">
                            <input type="hidden" name="status" value="3" />
                            <button class="btn  @(ViewBag.Status==3?@ViewBag.Btn:"") primary border-primary rounded btn-lg">
                                Đang
                                giao
                            </button>
                        </form>
                        <form method="get" asp-controller="Order" asp-action="Index">
                            <input type="hidden" name="status" value="4" />
                            <button class="btn  @(ViewBag.Status==4?@ViewBag.Btn:"") primary border-primary rounded btn-lg">Đã giao</button>
                        </form>
                        <form method="get" asp-controller="Order" asp-action="Index">
                            <input type="hidden" name="status" value="5" />
                            <button class="btn  @(ViewBag.Status==5?@ViewBag.Btn:"") primary border-primary rounded btn-lg">Đã hủy</button>
                        </form>

                        <!-- Button 2 -->
                

                        <!-- Button 3 -->
                    

                        <!-- Button 4 -->
                  
                        <!-- Button 5 -->
                    
                    </div>
                </div>
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <div class="show">
                            <div class="text-tiny">Hiển thị</div>
                            <div class="select">
                                <select class="">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                </select>
                            </div>
                        </div>
                        <form class="form-search" method="get" asp-controller="Order" asp-action="Index">
                            <fieldset class="name">
                                <input type="text" placeholder="Tìm kiếm" name="search" tabindex="2" value=""
                                       aria-required="true" required="">
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <a class="tf-button style-1 w208" href="oder-detail.html"><i class="icon-file-text"></i>Xuất hóa đơn</a>
                </div>
                <div class="wg-table table-all-category">
                    <ul class="table-title flex gap20 mb-14 order-title-custum">

                        <li>
                            <div class="body-title">Mã đơn hàng</div>
                        </li>
                        <li>
                            <div class="body-title">Họ tên</div>
                        </li>
                        <li>
                            <div class="body-title">Ngày lập</div>
                        </li>
                        <li>
                            <div class="body-title">Email</div>
                        </li>
                        <li>
                            <div class="body-title">Tổng tiền</div>
                        </li>
                        <li>
                            <div class="body-title">Trạng thái</div>
                        </li>
                        <li>
                            <div class="body-title">Hành động</div>
                        </li>
                    </ul>

                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


                    <ul class="flex flex-column">
                        @foreach (var or in ViewBag.Order)
                        {
                            
                            <li class="product-item gap14" data-rowId="@or.Id">

                                <div class="flex order-item-custum items-center justify-between gap20 flex-grow">

                                    <div class="body-text">@or.Id</div>
                                    <div class="body-text">@or.Fullname</div>
                                    <div class="body-text">@or.CreatedAt</div>
                                    <div class="body-text">@or.Email</div>
                                    <div class="body-text">@(String.Format(("{0:N0}"),or.TotalAmount+25000)) VNĐ</div>
                                    <div>
                                        <button class="btn  btn-currentStatus btn-lg"
                                                data-orderid="@or.Id"
                                                data-status="@or.Status">
                                            @(or.Status == 1 ? "Chờ xác nhận" :
                                                or.Status == 2 ? "Xác nhận" : or.Status == 3 ? "Đang giao" :or.Status ==4 ? "Hoàn thành":"Đã hủy")
                                        </button>
                                    </div>
                                    <div class="list-icon-function">
                                        <div class="item edit">
                                            <button class="btn btn-confirm  btn-warning text-white  rounded btn-lg"
                                                    data-orderid="@or.Id"
                                                    data-status="@or.Status"
                                                    data-valuebutton="2"
                                            @((or.Status != 1) ? "disabled" : "")>

                                                Xác nhận
                                            </button>
                                        </div>
                                        <div class="item-edit">
                                            <button class="btn btn-confirm  btn-primary rounded btn-lg"
                                                    data-orderid="@or.Id"
                                                    data-status="@or.Status"
                                                    data-valuebutton="3"
                                            @((or.Status != 2) ? "disabled" :"")>
                                                Đang giao
                                            </button>
                                        </div>
                                        <div class="item edit">
                                            <button class="btn btn-confirm  btn-success white  rounded btn-lg"
                                                    data-orderid="@or.Id"
                                                    data-status="@or.Status"
                                                    data-valuebutton="4"
                                            @((or.Status !=3) ? "disabled" : "")>
                                                    
                                            
                                                Hoàn thành
                                            </button>
                                        </div>
                                        <div class="item edit">
                                            <button class="btn btn-cancel-order btn-danger white  rounded btn-lg"
                                                    data-orderid="@or.Id"
                                                    data-status="@or.Status"
                                                    data-valuebutton="5"
                                            @((or.Status!=1) ? "disabled" : "")>
                                            
                                                Hủy đơn
                                            </button>
                                        </div>
                                    
                                        <div class="item eye">
                                            <a asp-area="Admin" asp-controller="Order" asp-action="Detail" asp-route-id="@or.Id"><i class="icon-eye"></i></a>
                                        </div>
                                        <div class="item edit">
                                            <button class="btn btn-delete-order btn-danger white  rounded btn-lg"
                                                    data-orderid="@or.Id"
                                                    data-status="@or.Status">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                        }
                    </ul>

                    <script>
                        //chỉnh sửa trạng thái đơn hàng
                        $(document).on("click", ".btn-confirm", function () {

                            var OrderId = $(this).data("orderid");
                            var valueButton = $(this).data("valuebutton");
                            var btn = $(this);
                            var Status = $(this).data("status");
                            var NextStatus = (Status + 1) === 2 ? "Xác nhận" : (Status + 1) === 3 ? "Đang giao" : (Status + 1) === 4 ? "Hoàn thành":"Đã hủy";
                            var CurrentStatus = Status === 1 ? "Chờ xác nhận" : Status === 2 ? "Xác nhận" : Status === 3 ? "Đang giao" : Status === 4 ?"Hoàn thành":"Đã hủy";
                      
                            Swal.fire({
                                title:"Cập nhật trạng thái đơn hàng",
                                text: `Bạn có chắc chắn muốn cập nhật trạng thái đơn hàng có mã đơn hàng là ${OrderId} từ "${CurrentStatus}" thành "${NextStatus}" không?`,
                                icon: "success",
                                showCancelButton: true,
                                confirmButtonText: "Có",
                                cancelButtonText: "Không",
                            }).then((result)=>{
                                if (result.isConfirmed) {
                                    $.ajax({
                                        url: '/Admin/Order/UpdateStatus',
                                        type: 'POST',
                                        data: {
                                            orderid: OrderId,
                                            status: Status + 1
                                        },
                                        success: function (response) {
                                            console.log(response);
                                            if (response.success) {
                                                var rowId = $(`li[data-rowId='${OrderId}']`);
                                                rowId.find(".btn-currentStatus").text(NextStatus);
                                                rowId.find(".btn-currentStatus").attr("status", response.st);
                                                Swal.fire({
                                                    title: "Cập nhật đơn hàng thành công",
                                                    text: `Đã cập nhật trạng thái đơn hàng có mã đơn hàng là ${OrderId} từ "${CurrentStatus}" thành "${NextStatus}"`,
                                                    icon: "success"
                                                }).then(() => {
                                                    location.reload(true);       //load trang sau khi thông bao của đơn hàng đóng lại
                                                });
                                               




                                            } else {
                                                alert("Lỗi: " + response.message);
                                            }
                                          
                                        },
                                        error: function () {
                                            alert("Đã xảy ra lỗi khi cập nhật trạng thái.");
                                        }
                                    });
                                
                                }
                            
                            });
                           

                      
                        });


                        // Hủy đơn
                        $(document).on("click", ".btn-cancel-order", function () {
                            var OrderId = $(this).data("orderid");
                            var valueButton = $(this).data("valuebutton");
                            var btn = $(this);
                            var Status = $(this).data("status");
                            var rowItem = $(this).closest(".product-item").data("rowId");
                            if (Status == 1) {

                                Swal.fire({
                                    title: "Hủy đơn hàng !",
                                    text: `Bạn có chắc muốn hủy đơn hàng có mã đơn hàng là ${OrderId} không!`,
                                    icon: "warning", // biểu tượng: 'warning', 'error', 'success', 'info', 'question'
                                    showCancelButton: true,
                                    confirmButtonText: "Xóa", // nút xác nhận xóa
                                    cancelButtonText: "Hủy", // xác nhận hủy
                                }).then((result) => {
                                    //khi nút xóa được nhấn
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            url: '/Admin/Order/CancelOrder',
                                            type: 'POST',
                                            data: {
                                                orderid: OrderId,
                                                status: 5
                                            },
                                            success: function (response) {
                                                if (response.success) {
                                                    var rowId = $(`li[data-rowId='${OrderId}']`);
                                                    rowId.find(".btn-currentStatus").text("Hủy đơn");
                                                    rowId.find(".btn-cancel-order").data("status", 5);
                                                    location.reload(true);
                                                    Swal.fire("Hủy đơn hàng", `Đã hủy đơn hàng có mã đơn hàng là ${OrderId}`, "success");
                                                   


                                                } else {
                                                    Swal.fire("Lỗi hủy đơn", `Đã có lỗi xảy ra khi Hủy đơn hàng có mã đơn hàng là ${OrderId}`, "error");
                                                }
                                            },

                                        });


                                    }

                                    
                                });
                            }   
                            else {
                                Swal.fire({
                                    title: "Không thể hủy trạng thái!",
                                    text: "Trạng thái này đã được xác nhận và không thể hủy.",
                                    icon: "error", // Biểu tượng thông báo (error, warning, info, success)
                                    confirmButtonText: "Đã hiểu", // Nút xác nhận
                                }).then((result) => {
                                    if(result.isConfirmed)
                                    {
                                        $(this).prop("disabled", true);
                                    }
                                });
                            }



                        });
                        //Xóa đơn hàng

                        $(document).on("click", ".btn-delete-order", function (){
                         
                            var OrderId = $(this).data("orderid");                    
                            var btn = $(this);
                            var Status = $(this).data("status");
                            if (Status == 4 || Status == 5) {

                                Swal.fire({
                                    title: `Xóa đơn hàng`,
                                    text: `Bạn có chắc muốn xóa đơn hàng này không ?`,
                                    icon: "success",
                                    showCancelButton: true,
                                    confirmButtonText: "Có",
                                    cancelButtonText: "Không",
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            url: '/Admin/Order/RemoveOrder',
                                            type: 'POST',
                                            data: {
                                                orderid: OrderId,
                                                status: 0
                                            },
                                            success: function (response) {
                                                if (response.success) {             
                                                    var rowId = $(`li[data-rowId='${OrderId}']`);
                                                    rowId.remove();
                                                    Swal.fire("Xóa đơn hàng thành công", `Đã xóa đơn hàng có mã đơn hàng là ${OrderId}`, "success");
                                                } else {
                                                    alert("Lỗi: " + response.message);
                                                }
                                            },
                                            error: function () {
                                                Swal.fire("Lỗi cập nhật trạng thái", `Đã có lỗi xảy ra khi cập nhật trạng thái có mã đơn hàng là ${OrderId}`, "error");
                                            }
                                        });

                                    }
                                   
                                });
                            }
                            else {
                                Swal.fire("Xóa đơn hàng thất bại", `Chỉ xóa được đơn hàng ở trạng thái "Đả hủy" hoặc "Hoàn thành"`, "error");

                            }
                        });

                        //Lọc đơn hàng theo trạng thái

                        $(document).on("click", ".btn-1", function () {
                            
                        
                        });
                    </script>
                </div>
                <div class="divider"></div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 10 entries</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /order-list -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
    </div>
    <!-- /bottom-page -->
</div>