@model OmegaStore.Models.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Giỏ hàng";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cart.css">
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="cart-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="order-products mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(!Model.CartItems.Any())
                            {
                                <tr>
                                    <td colspan="6" class="text-center">
                                        <h4>Giỏ hàng của bạn đang trống. <a asp-controller="Home">Xem sản phẩm</a></h4>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.CartItems)
                                {
                                    var price = item.Product.Price - item.Product.Price * (item.Product.DiscountRate / 100);
                                    <tr>
                                        <td>
                                            <a asp-controller="Product" asp-action="Detail" class="d-block" style="width: 60px;">
                                                <img class="img-fluid" src="~/img/@item.Product.Thumbnail" alt="">
                                            </a>
                                        </td>
                                        <td style="font-size: .9rem">
                                            <a asp-controller="Product" asp-action="Detail" class="ellipsis">
                                                @item.Product.Name
                                            </a>
                                        </td>
                                        <td style="font-size: .9rem">@price.ToString("N0")đ</td>
                                        <td>
                                            <div class="qty border border-secondary rounded-lg d-flex justify-content-between">
                                                <button class="btn-minus rounded-left"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="@item.Quantity">
                                                <button class="btn-plus rounded-right"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td style="font-size: .9rem">@((price * item.Quantity).ToString("N0"))đ</td>
                                        <td>
                                            <a href="#confirmDeleteModal" class="btn btn-danger" data-bs-toggle="modal"
                                               data-bs-target="#confirmDeleteModal">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Pagination Start -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" asp-controller="" asp-action="" tabindex="-1">Trước</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" asp-controller="" asp-action="">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" asp-controller="" asp-action="">2</a></li>
                        <li class="page-item"><a class="page-link" asp-controller="" asp-action="">3</a></li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="" asp-action="">Sau</a>
                        </li>
                    </ul>
                </nav>
                <!-- Pagination Start -->
            </div>
            <div class="col-md-4">
                <div class="cart-summary">
                    <div class="cart-content">
                        <h1>Giỏ hàng rút gọn</h1>
                        <p>Tổng tiền hàng:<span>@Model.TotalPrice.ToString("N0") đ</span></p>
                        <p>Phí vận chuyển:<span>@Model.ShippingFee.ToString("N0") đ</span></p>
                        <h2>Thành tiền:<span>@((Model.TotalPrice + Model.ShippingFee).ToString("N0")) đ</span></h2>
                    </div>
                    <div class="d-flex justify-content-between p-4">
                        <a asp-controller="" asp-action="" class="btn btn-info py-2 px-3">Cập nhật giỏ hàng</a>
                        <a asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-info py-2 px-3">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-4">
                <a asp-controller="Product" asp-action="Index" class="btn btn-info">Tiếp tục mua sắm</a>
                <a class="btn btn-outline-danger" asp-controller="Cart" asp-action="ClearCart">Xóa giỏ hàng</a>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
<!-- Cart End -->
<!-- ConfirmDeleteModal Start -->
@await Html.PartialAsync("_ConfirmDeleteModalPartial")
<!-- ConfirmDeleteModal End -->
