@model OmegaStore.Models.ViewModels.OrderDetailCustomerAllViewModel
@{
	ViewData["Title"] = "Chi tiết đơn hàng";
	string status = (Model.OrderDetailCustomerViewModel.StatusOrder == 1
		? "Chờ xác nhận" : Model.OrderDetailCustomerViewModel.StatusOrder == 2
		? "Xác nhận" : Model.OrderDetailCustomerViewModel.StatusOrder == 3
		? "Đang giao" : Model.OrderDetailCustomerViewModel.StatusOrder == 4
		? "Hoàn thành" : "Đã hủy");

	string classStatus = (status == "Chờ xác nhận" ? "processing"
	: status == "Xác nhận" ? "confirmed" : status == "Đang giao" ? "shipping"
	: status == "Hoàn thành" ? "delivered" : "cancelled");
}

@section Styles {
	<link rel="stylesheet" href="~/css/order-detail.css">
}
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/slick/slick.min.js"></script>
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
	<div class="container">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
			<li class="breadcrumb-item active">Chi tiết đơn hàng</li>
		</ul>
	</div>
</div>
<!-- Breadcrumb End -->

<div class="order-detail mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="order-title mb-3 p-3 position-relative">
					<h3 class="font-weight-bold text-uppercase text-center">Chi tiết đơn hàng</h3>
					@if (Context.Session.GetString("Username") != null)
					{
						<a asp-controller="Account" asp-action="Index" class="btn btn-outline-success back-btn position-absolute">Quay lại</a>
					}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="order-info mb-3 px-3 py-2 position-relative">
							<p class="order-code font-weight-bold">Đơn hàng: <span>@Model.OrderDetailCustomerViewModel.OrderCodeId</span></p>
							<p class="order-date font-weight-bold">Ngày đặt: <span class="font-weight-normal">@Model.OrderDetailCustomerViewModel.Crreate_at</span></p>
							<span class="status status-@classStatus position-absolute">@status</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="order-info-client mb-4">
							<div class="row">
								<div class="col-md-3">
									<div class="title font-weight-bold">Người nhận:</div>
								</div>
								<div class="col-md-9 py-1">
									<p class="font-weight-bold">@Model.OrderDetailCustomerViewModel.Name</p>
									<p>
										<span class="p-1">@Model.OrderDetailCustomerViewModel.PhoneNumber</span>
										<span>@Model.OrderDetailCustomerViewModel.EmailUser</span>
									</p>
									<p>@Model.OrderDetailCustomerViewModel.AddressUser</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="order-products">
							@if(Model.OrderDetailProductListCustomerViewModels != null)
							{
							
							<table class="table">
								<thead>
									<tr>
										<th>Hình ảnh</th>
										<th>Tên sản phẩm</th>
										<th>Giá</th>
										<th>Số lượng</th>
										<th>Tổng tiền</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var ls in Model.OrderDetailProductListCustomerViewModels)
									{
										<tr>
											<td>
												<a asp-controller="Product" asp-action="Detail" asp-route-slug="@ls.ProductSlug" class="d-block" style="width: 80px;">
													<img class="img-fluid" src="~/img/products/@ls.Thumbnail" alt="">
												</a>
											</td>
											<td>
												<a asp-controller="Product" asp-action="Detail" asp-route-slug="@ls.ProductSlug" class="ellipsis">@ls.Name</a>
											</td>
											<td>@(String.Format("{0:N0}", Math.Truncate((ls.Price - (ls.Price * ls.DiscountRate) / 100)))) đ</td>
											<td class="text-center">@ls.Quantity</td>
											<td>@(String.Format("{0:N0}", Math.Truncate(ls.TotalPrice))) đ</td>
										</tr>
									}
									
								</tbody>
							</table>
							
							}
							else
							{
							<div class="d-flex justify-content-center align-items-center text-muted">
								<span>Dữ liệu sản phẩm của đơn hàng này chưa được thêm vào</span>
							</div>
							}
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				
				<div class="row">
					<div class="col-md-12">
						<div class="order-total-amount mb-3 p-3">
							<div class="d-flex justify-content-between mb-3">
								<span class="font-weight-bold text-secondary">Tạm tính: </span>
								<span class="font-weight-bold">@(String.Format("{0:N0}", Math.Truncate(Model.OrderDetailCustomerViewModel.Total))) đ</span>
							</div>
							<div class="d-flex justify-content-between mb-3">
								<span class="font-weight-bold text-secondary">Phí vận chuyển: </span>
								<span class="font-weight-bold">25.000đ</span>
							</div>
							<div class="d-flex justify-content-between mb-3">
								<span class="font-weight-bold text-secondary">Thành tiền: </span>
								<span class="font-weight-bold">@(String.Format("{0:N0}", Math.Truncate(Model.OrderDetailCustomerViewModel.Total +25000))) đ</span>
							</div>
							<div class="d-flex justify-content-between pt-3 border-top border-secondary">
								<span class="font-weight-bold">Cần thanh toán: </span>
								<span class="font-weight-bold text-danger" style="font-size: 18px;">@(String.Format("{0:N0}", Math.Truncate(Model.OrderDetailCustomerViewModel.Total + 25000))) đ</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="order-note p-3">
							<h5>Ghi chú:</h5>
							<textarea class="w-100 p-2" style="min-height: 150px;" disabled>@Model.OrderDetailCustomerViewModel.Note</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>