@model OmegaStore.Models.Blog;
@{
    ViewData["Title"] = "Chi tiết bài viết";
    var recentBlogs = ViewBag.recentBlogs as List<Blog> ?? new List<Blog>();
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bài viết</li>
            <li class="breadcrumb-item active text-uppercase">
                @Model.Title
            </li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Post detail Start -->
<div class="post-detail mt-5">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-9">
                <div class="post-heading">
                    <h5 class="title text-uppercase font-weight-bold">
                        @Model.Title
                    </h5>
                    <div class="meta d-flex">
                        <p class="author">bởi: @Model.Author</p>
                        <p class="date ml-5">@Model.CreatedAt</p>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-img p-2">
                        <img class="d-block w-100"
                             src="~/img/blogs/@Model.Thumbnail"
                             alt="" />
                    </div>
                    <div class="list-content p-4">
                        <h6 class="menu-title font-weight-bold">Các nội dung chính</h6>
                        @Html.Raw(Model.ListContent)
                    </div>
                    <p class="entry-content font-weight-bold pl-1">
                        @Model.ShortContent
                    </p>

                    @Html.Raw(Model.Content)
                    <div class="post-nav mt-5">
                        <div class="row" style="color: #574635">
                            <div class="col-lg-8">
                                <p class="nav-title">
                                    Đang xem:
                                    <strong class="text-uppercase">@Model.Title</strong>
                                </p>
                            </div>
                            <div class="col-lg-4 text-right">
                                <div class="navigation">
                                    <a class="font-weight-bold" style="color: #574635" asp-controller="" asp-action=""><span>Bài trước</span></a>
                                    <span class="mr-2 ml-2">|</span>
                                    <a class="font-weight-bold" style="color: #574635" asp-controller="" asp-action=""><span>Bài sau</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 right pl-4 mt-4">
                <h6 class="font-weight-bold">Bài viết gần đây</h6>
                <div class="row list-blogs">
                    @for (int i = 0; i < recentBlogs.Count; i++)
                    {
                        <div class="col-md-12 item mb-3 d-flex justify-content-between">
                            <div class="item-img w-50">
                                <a asp-controller="Post" asp-action="Detail" asp-route-slug="@recentBlogs[i].Slug" class="position-relative">
                                    <img class="d-block w-100" src="~/img/blogs/@recentBlogs[i].Thumbnail" alt="" />
                                    <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                                        <span class="d-block">@(i + 1)</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item-content w-50">
                                <p class="title text-capitalize mb-2">
                                    <a asp-controller="Post" asp-action="Detail" asp-route-slug="@recentBlogs[i].Slug">@recentBlogs[i].Title</a>
                                </p>
                                <p>Tin tức - <span class="text-primary">@recentBlogs[i].CreatedAt</span></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post detail End -->