@model IEnumerable<OmegaStore.Models.Blog>

@{
    ViewData["Title"] = "Danh sách bài viết";
    var recentBlogs = ViewBag.recentBlogs as List<Blog> ?? new List<Blog>();
}

@section Scripts{
    <script>
        let currentSearchQuery = ''; // Lưu lại giá trị tìm kiếm hiện tại

        $(document).ready(function () {

            // Hàm tải dữ liệu blog với phân trang và tìm kiếm
            function loadBlogs(page = 1) {
                $.ajax({
                    url: '/Post/List',
                    method: 'GET',
                    data: { page: page, searchQuery: currentSearchQuery },
                    success: function (result) {
                        $('#blog-container').html(result);
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi tải dữ liệu!");
                    }
                });
            }
            // Gọi dữ liệu trang đầu tiên khi tới trang bài viết
            $(document).ready(function () {
                loadBlogs();
            });

            // Sự kiện nhấn nút xóa tìm kiếm
            $(document).on("click", "#searchResult", function () {
                $('#search-query').val(''); // Gán giá trị rỗng cho input có id="search-query
                currentSearchQuery = '';
                loadBlogs(); // Tải lại blog từ trang đầu
            });

            // Sự kiện nhấn nút tìm kiếm
            $(document).on("click", "#search-btn", function () {
                currentSearchQuery = $('#search-query').val();
                loadBlogs(); // Tải lại blog từ trang đầu
            });
            // Phân trang
            $(document).on("click", ".link", function () {
                const page = $(this).data("page");
                loadBlogs(page);
            });

            // Sự kiện khi nhấn Enter trong ô tìm kiếm
            $('#search-query').on('keypress', function (e) {
                if (e.which === 13) {
                    currentSearchQuery = $(this).val();// Lưu giá trị tìm kiếm
                    
                    loadBlogs(); // Tải lại blog từ trang đầu
                }
            });

            // Ngăn hành vi gửi form khi seach
            document.getElementById("myForm").addEventListener("submit", function (event) {
                event.preventDefault(); // Ngăn hành vi gửi form
            });
        });

    </script>
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bài viết</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Post list Start -->
<div class="post-list">
    <div class="container">
        <form id="myForm">
            <input type="text"
                   id="search-query"
                   class="form-control w-50 m-auto"
                   placeholder="Nhập từ khóa liên quan để tìm bài viết" />
            <button id="search-btn"><i class="fas fa-search"></i></button>
        </form>
        
        <div class="row mt-3">
            <div class="col-lg-9" id="blog-container">
            </div>
            <div class="col-lg-3 right pl-4">
                <h6 class="font-weight-bold">Bài viết gần đây</h6>
                <div class="row list-blogs">
                    @for (int i = 0; i < recentBlogs.Count; i++)
                    {
                        <div class="col-md-12 item mb-3 d-flex justify-content-between">
                            <div class="item-img w-50">
                                <a href="@Url.Action("Detail", "Post", new { slug = recentBlogs[i].Slug })" class="position-relative">
                                    <img class="d-block w-100" src="~/img/blogs/@recentBlogs[i].Thumbnail" alt="" />
                                    <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                                        <span class="d-block">@(i + 1)</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item-content w-50">
                                <p class="title text-capitalize mb-2">
                                    <a href="@Url.Action("Detail", "Post", new { slug = recentBlogs[i].Slug })">@recentBlogs[i].Title</a>
                                </p>
                                <p>Tin tức - <span class="text-primary">@recentBlogs[i].CreatedAt</span></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post list End -->